.homepage-container{
  height:45vh;
}

.homepage-padding{
  padding:20px;
}

.col-image-left {
  background-image: url("./Images/blank.jpg");
  height: 25em !important;
}

.col-image-right {
  background-image: url("./Images/blank.jpg");
  height: 25em !important;
}

.homepage-carousel-title {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}