/* homepage foundation */
.homepage-container{
  height:45vh;
}

.homepage-padding{
  padding:20px;
}

.fixed-sidebar{
  width:23%;
  height:100%;
}

/* colors */

.primary-color{
  background-color: #140936; 
}

.playlist-item{
  background-color: #140936; 
}

.playlist-item:hover{
  background-color: #1f0e50;
}

.background-main{
  background-color: #0f0335; 
}

.background-darker{
  background-color: #0a0127; 
}

.text-color{
  color: #EDEDED; 
}

.main-span{
  color: #8b8989;
}

.main-span:hover{
  color: #EDEDED;
}

.main-span:active{
  color:#EDEDED;
}

