/* homepage foundation */
.homepage-container{
  height:45vh;
}

.homepage-padding{
  padding:20px;
}

.custom-container {
  overflow-y: hidden;
}

.sticky-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: calc(100vh); /* Adjust the height as needed to account for the Bootstrap navbar height */
  overflow-y: auto;
}

.sticky-sidebar::-webkit-scrollbar {
  width: 0.5em; /* Adjust the width as needed */
}

.sticky-sidebar::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the thumb */
}

.sticky-sidebar {
  scrollbar-width: thin; /* Firefox */
}

.fixed-sidebar{
  width:100%;
  height:100%;
}

/* colors */

.primary-color{
  background-color: #140936; 
}

.playlist-item{
  background-color: #140936; 
}

.playlist-item:hover{
  background-color: #1f0e50;
}

.background-main{
  background-color: #0f0335; 
}

.background-darker{
  background-color: #0a0127; 
}

.background-song{
  background-color: #CFF4FC;
}

.text-color{
  color: #EDEDED; 
}

.main-span{
  color: #8b8989;
}

.main-span:hover{
  color: #EDEDED;
}

.main-span:active{
  color:#EDEDED;
}
/* Form */
.star {
  font-size: 30px; 
  cursor: pointer;
}

.star.yellow {
  color: yellow;
}

.custom-star {
  color: rgb(189, 183, 183);
}

.custom-star-fill {
  color: rgb(196, 196, 13);
}
